{% extends "public/basic.html" %}
{% load public_tags %}
{% block extra_head_css %}
{% endblock extra_head_css %}

{% block content %}
{% if user|is_member %}
<div id="page-wrapper">

  <div class="container-fluid">

    {% block page %}
    {% endblock page %}

  </div>

</div>
{% endif %}
{% endblock content %}

{% block extra_body_js %}
{% endblock extra_body_js %}
