{% load static %}
{% extends "private/blank_page.html" %}

{% block extra_head_css %}
<!-- Morris Charts CSS -->
<link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">
{% endblock extra_head_css %}


{% block page %}
<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Charts
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-bar-chart-o"></i> Charts
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<!-- Flot Charts -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Flot Charts</h2>
    <p class="lead">Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features. For full usage instructions and documentation for Flot Charts, visit <a href="http://www.flotcharts.org/">http://www.flotcharts.org/</a>.</p>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Line Graph Example with Tooltips</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-line-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Pie Chart Example with Tooltips</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-pie-chart"></div>
        </div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Multiple Axes Line Graph Example with Tooltips and Raw Data</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-multiple-axes-chart"></div>
        </div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Moving Line Chart</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-moving-line-chart"></div>
        </div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Bar Graph with Tooltips</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-bar-chart"></div>
        </div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Morris Charts -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Morris Charts</h2>
    <p class="lead">Morris.js is a very simple API for drawing line, bar, area and donut charts. For full usage instructions and documentation for Morris.js charts, visit <a href="http://morrisjs.github.io/morris.js/">http://morrisjs.github.io/morris.js/</a>.</p>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Area Line Graph Example with Tooltips</h3>
      </div>
      <div class="panel-body">
        <div id="morris-area-chart"></div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Donut Chart Example</h3>
      </div>
      <div class="panel-body">
        <div id="morris-donut-chart"></div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-red">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Line Graph Example with Tooltips</h3>
      </div>
      <div class="panel-body">
        <div id="morris-line-chart"></div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Bar Graph Example</h3>
      </div>
      <div class="panel-body">
        <div id="morris-bar-chart"></div>
        <div class="text-right">
          <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
{% endblock page %}

{% block extra_body_js %}
<!-- Morris Charts JavaScript -->
<script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
<script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

<!-- Flot Charts JavaScript -->
<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>
<script src="js/plugins/flot/jquery.flot.pie.js"></script>
<script src="js/plugins/flot/flot-data.js"></script>
{% endblock extra_body_js %}
