{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  
  <div class="col-lg-10 col-md-10" style="background: #fff;">

    <div class="row">

      <div class="col-lg-6 col-md-6">
	<h3 class="page-header">Login</h3>

	{% if form.errors %}
	<div class="alert alert-danger">
	  Username or password are not correct! Please check your credentials and try again.
	</div>
	{% endif %}

	{% if next %}

	{% if user.is_authenticated %}
	<div class="alert alert-warning">
	  Your account doesn't have access to this page. To proceed, please login with an account that has access.
	</div>
	{% else %}
	<div class="alert alert-info">
	  Please login to see this page.
	</div>
	{% endif %}

	{% endif %}

	<form method="post" action="{% url 'accounts:login' %}">

	  {% csrf_token %}

	  <div class="form-group">
	    <label>{{ form.username.label_tag }}</label>
	    {{ form.username }}
	  </div>

	  <div class="form-group">
	    <label>{{ form.password.label_tag }}</label>
	    {{ form.password }}
	  </div>

	  <div class="form-group text-right">
	    <button id="login" type="submit" class="btn btn-danger">Access</button>
	  </div>
	  
	</form>
	
      </div>

      <div class="col-lg-6 col-md-6">

	    <div class="card">

	      <div class="card-block">
		
		<h1 class="card-text text-center">Welcome to <strong>M.O.M.S.</strong></h1>
		
	      </div>

	      <img class="card-image-bottom img-fluid" src="{% static 'img/moms-logo.jpg' %}">
	      
	    </div>

      </div>

    </div>

  </div>
  
</div>

{% endblock content %}
