{% extends "private/basic.html" %}

{% block extra_head_css %}
{% endblock extra_head_css %}

{% block content %}
<div id="page-wrapper">

  <div class="container-fluid">

    {% block page %}
    {% endblock page %}

  </div>

</div>
{% endblock content %}

{% block extra_body_js %}
{% endblock extra_body_js %}
